@font-face {
    font-family: 'Press Start 2P';
    src: url('../fonts/PressStart2P-Regular.ttf');
}

@keyframes pulse {
    0% {
        transform: scale(1);
        
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url('../imgs/background.png');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    color: #ecf0f1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
#finalScreen{
    font-family: 'Press Start 2P';
    margin-top: 20px;
    z-index: 2; /* Mantém acima da imagem de fundo */
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; /* Contorno branco */
    color: #000000; /* Cor do texto preto */

}

#finalform{
    font-family: 'Press Start 2P';
    margin-top: 20px;
    z-index: 2; /* Mantém acima da imagem de fundo */
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; /* Contorno branco */
    color: #000000; /* Cor do texto preto */
    font-size: 12px;
    text-align: center;

}

.letras{
    font-family: 'Press Start 2P';
    margin-top: 20px;
    z-index: 2; /* Mantém acima da imagem de fundo */
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; /* Contorno branco */
    color: #000000; /* Cor do texto preto */
    font-size: 15px;
    border:#e04848;
    text-align: center;

}
.parabens{
    font-family: 'Press Start 2P';
    margin-top: 20px;
    z-index: 2; /* Mantém acima da imagem de fundo */
    text-shadow: -1px -1px 0 #fd0000, 1px -1px 0 #ff0000, -1px 1px 0 #ff0000, 1px 1px 0 #ff0000; /* Contorno branco */
    color: #000000; /* Cor do texto preto */
    border:#e04848;
    font-size: 20px;
    text-align: center;
    animation: pulse 2.5s infinite; 


}

#finalWord{
    font-family: 'Press Start 2P';
    margin-top: 20px;
    z-index: 2; /* Mantém acima da imagem de fundo */
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; /* Contorno branco */
    color: #000000; /* Cor do texto preto */
    font-size: 12px;
    text-align: center;


}

#finalFeedback {
    font-family: 'Press Start 2P';
    margin-top: 20px;
    z-index: 2; /* Mantém acima da imagem de fundo */
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; /* Contorno branco */
    color: #000000; /* Cor do texto preto */
    font-size: 12px;
    text-align: center;


}

.verificar{
    font-family: 'Press Start 2P';
    margin-top: 20px;
    z-index: 2; /* Mantém acima da imagem de fundo */
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; /* Contorno branco */
    color: #000000; /* Cor do texto preto */
    font-size: 12px;
    text-align: center;


}
/* Ajustando a imagem de fundo dos inputs */
.form {
    margin-top: 185px;
    left: 515px;
    width: 350px;
    position: absolute;
    z-index: -1; /* Coloca a imagem atrás dos inputs */
}

/* Estilo do título */
.titulo {
    margin-top: -100px;
    left: 515px;
    width: 350px;
    position: absolute;
    z-index: 1; /* Garante que o título fique acima da imagem de fundo */
}

/* Estilo da legenda */
.sub {
    font-family: 'Press Start 2P';
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin-top: 5px;
    z-index: 2; /* Mantém acima da imagem de fundo */
    margin-left: 45px;
}

.realize {
    font-family: 'Press Start 2P';
    margin-top: 20px;
    z-index: -2; /* Mantém acima da imagem de fundo */
    animation: pulse 2.5s infinite; 
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; /* Contorno branco */
    color: #000000; /* Cor do texto preto */
    position: relative;
}

/* Seção de login */
#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    z-index: 2; /* Mantém os elementos de login acima da imagem */
    position: relative;
    top:50px;
    margin-left: 30px;
}

/* Estilo dos inputs */
input[type="text"], input[type="password"] {
    display: block; /* Coloca os inputs em blocos, um embaixo do outro */
    width: 200px; /* Ajuste conforme necessário */
    padding: 15px 20px;
    background-color: #bfbfbf;
    color: #000000;
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    border-radius: 50px;
    border: 5px solid #000000;
    text-align: center;
    box-shadow: 4px 4px 0 #5c5c5c, -4px -4px 0 #FFFFFF;
    transition: background-color 0.3s, transform 0.3s;
    margin: 10px 0; /* Margem para separar os inputs */
}

input[type="text"]:hover, input[type="password"]:hover {
    transform: scale(1.1);
    background-color: #a0a0a0;
}


.user {
    font-family: 'Press Start 2P';
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin-top: -30px;
    z-index: 2; /* Mantém acima da imagem de fundo */
    font-size: 15px;
    color: #000000; /* Cor do texto preto */


}
.senha {
    font-family: 'Press Start 2P';
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin-top: -30px;
    z-index: 2; /* Mantém acima da imagem de fundo */
    font-size: 15px;
    text-align: center;
    color: #000000; /* Cor do texto preto */



}
#answer {

    margin: auto;
    font-size: 9px;


}
#gameForm{
margin: auto;

}
.tempo{

    width: 20px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 20px; /* Mantendo a proporção */
    margin-right: 25px; /* Espaço entre a imagem e o texto */
    margin-left: -25px;
    top: 415px; 
    position: absolute;
    animation: pulse 1.5s infinite; 
    

}
#challenge{  /*perguntas estilos*/

    font-family: 'Press Start 2P';
    margin-top: 20px;
    z-index: 2; /* Mantém acima da imagem de fundo */
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; /* Contorno branco */
    color: #000000; /* Cor do texto preto */
    font-size: 12px;
    text-align: center;

}
.desafio{

    font-family: 'Press Start 2P';
    margin-top: 20px;
    z-index: 2; /* Mantém acima da imagem de fundo */
    text-shadow: -1px -2px 0 #7f308a, 2px -2px 0 #7f308a, -1px 1px 0 #7f308a, 1px 1px 0 #7f308a,; /* Contorno branco */
    color: #000000; /* Cor do texto preto */
    font-size: 25px;
    text-align: center;
}
#timer{
    font-family: 'Press Start 2P';
    margin-top: 20px;
    z-index: 2; /* Mantém acima da imagem de fundo */
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; /* Contorno branco */
    color: #000000; /* Cor do texto preto */
    font-size: 15px;



}

.fundo{
    margin-top: -46px;
    left: 285px;
    width: 780px;
    position: absolute;
    z-index: -1; /* Coloca a imagem atrás dos inputs */


}

     .enviar:hover {
        transform: scale(1.1);
        background-color: #77e4a0;
    }




#letters{

    font-family: 'Press Start 2P';
    margin-top: 20px;
    z-index: 2; /* Mantém acima da imagem de fundo */
    text-shadow: -1px -1px 0 #e04848, 1px -1px 0 #e04848, -1px 1px 0 #e04848, 1px 1px 0 #e04848; /* Contorno branco */
    color: #000000; /* Cor do texto preto */
    font-size: 15px;
}
button {
    padding: 10px 20px;
    background-color: #bfbfbf;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    transition: transform 0.3s, background-color 0.3s;
    z-index: 2; /* Mantém os botões acima da imagem de fundo */
    margin-top: 20px; /* Adiciona margem para ajuste */
    text-align: center; /* Garante centralização do conteúdo do botão */
    margin-left: 60px;
    margin-bottom: -25px;
    font-family: 'Press Start 2P';
}
.enviar{
    padding: 10px 20px;
    background-color: #20ff6b;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    transition: transform 0.3s, background-color 0.3s;
    z-index: 2; /* Mantém os botões acima da imagem de fundo */
    margin-top: 20px; /* Adiciona margem para ajuste */
    text-align: center; 
    margin-left: 20px;
    margin-bottom: -100px;
    font-family: 'Press Start 2P'; 
}
#skipBtn{
    padding: 10px 20px;
    background-color: #e26060;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    transition: transform 0.3s, background-color 0.3s;
    z-index: 2; /* Mantém os botões acima da imagem de fundo */
    margin-top: 20px; /* Adiciona margem para ajuste */
    text-align: center; /* Garante centralização do conteúdo do botão */
    margin-left: 150px;
    margin-bottom: -25px;
    font-family: 'Press Start 2P';

}
    


button:hover {
    transform: scale(1.1);
    background-color: #b83a3a;
}

/* Ocultando seções de jogo e tela final inicialmente */
#game, #finalScreen {
    display: none;
}

/* Estilos adicionais */
#timer, #feedback, #letters {
    margin-top: 20px;
}

.stars {
    top: 100px;
    left: 880px;
    width: 60px;
    animation: pulse 1.5s infinite; 

}

.stars2 {
    top: 50px;
    left: -170px;
    width: 60px;
    animation: pulse 1.5s infinite; 

}
.estrela {
    top: -135px;
    left: 685px;
    width: 45px;
    animation: pulse 1.5s infinite; 

}

.estrela2 {
    top: 50px;
    left: -25px;
    width: 60px;
    animation: pulse 1.5s infinite; 

}
