body {

    background-image: url('../imgs/background.png');
    background-size: cover;
    overflow: hidden; /* Evita barras de rolagem */
    font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
@font-face {
    font-family: 'Press Start 2P';
    src: url('../fonts/PressStart2P-Regular.ttf');
}
.titulo {
    width: 400px;
    height: 100px;
    align-items: center;
    margin-left:90px;
    
}

.sub {
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    text-shadow: -1px -1px 0 #e6e92f, 1px -1px 0 #e6e92f, -1px 1px 0 #e6e92f, 1px 1px 0 #e6e92f;
    animation: pulseAnimation 7s infinite;
}

/* Definindo a animação */
@keyframes pulseAnimation {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}


.realize {
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    text-shadow: -1px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF;
}


#login {
    background-color: #db3f3f;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
}

#login {
    background-color: #a5a5a5;
    border-radius: 0; /* Removendo o arredondamento para manter o estilo pixelado */
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
    border: 4px solid #000000; /* Borda preta sólida */
    box-shadow: 4px 4px 0 #FFFFFF, 8px 8px 0 #000000; /* Sombra pixelada em branco e preto */
}


#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* Estilo dos inputs */
#loginForm input {
    padding: 10px 20px;
    width: 200px;
    font-size: 0.9em;
    font-family: 'Press Start 2P', cursive;
    color: #000000;
    background-color: #bfbfbf;
    border: 4px solid #000000;
    border-radius: 25px;
    text-align: center;
    box-shadow: 3px 3px 0 #5c5c5c, -3px -3px 0 #FFFFFF;
    transition: background-color 0.3s, transform 0.3s;
}

#loginForm input:focus {
    background-color: #a0a0a0;
    transform: scale(1.05);
    outline: none;
}

/* Estilo dos labels */
#loginForm label {
    color: #000000;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8em;
    margin-bottom: 3px;
    text-align: center;
}

/* Estilo do botão entrar */
.entrar {
    display: inline-block;
    margin: 15px;
    padding: 10px 25px;
    background-color: #bfbfbf;
    color: #1c071d;
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
    font-size: 1em;
    border-radius: 25px;
    border: 4px solid #000000;
    text-align: center;
    box-shadow: 3px 3px 0 #5c5c5c, -3px -3px 0 #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.entrar:hover {
    transform: scale(1.1);
    background-color: #7c80af;
}



#game {
    background-color: #a5a5a5;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    width: 500px;
    margin: 0 auto;
    border: 4px solid #000000; /* Borda preta sólida */
    box-shadow: 4px 4px 0 #FFFFFF, 8px 8px 0 #000000; /* Sombra pixelada em branco e preto */
}

.desafio {
    color: #000000;
    font-size: 24px;
    margin-bottom: 10px;
    text-shadow: -1px -1px 0 #8643a0, 1px -1px 0 #8643a0, -1px 1px 0 #8643a0, 1px 1px 0 #8643a0;

}

#challenge {
    font-size: 18px;
    margin-bottom: 20px;
}

#gameForm input {
    padding: 10px 20px;
    width: 200px;
    font-size: 10px;
    font-family: 'Press Start 2P', cursive;
    color: #000000;
    background-color: #bfbfbf;
    border: 4px solid #000000;
    border-radius: 25px;
    text-align: center;
    box-shadow: 3px 3px 0 #5c5c5c, -3px -3px 0 #FFFFFF;
    transition: background-color 0.3s, transform 0.3s;
}
#gameForm input:focus {
    background-color: #a0a0a0;
    transform: scale(1.05);
    outline: none;
}

.enviar{
    background-color: #58c254;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 10px;
    font-family: 'Press Start 2P', cursive;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    border-color: #160916;

}

#startBtn{
    background-color: #58c254;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 10px;
    font-family: 'Press Start 2P', cursive;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    border-color: #160916;
}

#startBtn:hover{

    background-color: #47438a;
    transform: scale(1.1);


}
#skipBtn {
    background-color: #c45757;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 4px;
    font-family: 'Press Start 2P', cursive;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    border-color: #160916;


}


#startTimerButton {
    padding: 10px 20px;
    font-family: 'Press Start 2P', cursive;
    font-size: 1em;
    background-color: #bfbfbf;
    color: #1c071d;
    border: 4px solid #000;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#startTimerButton:hover {
    background-color: #7c80af;
    transform: scale(1.1);
}

#timerMessage {
    font-family: 'Press Start 2P', cursive;
    font-size: 1em;
    color: #000;
    margin-top: 10px;
}


.enviar:hover{

        background-color: #9bc98f;
        transform: scale(1.1);


}
 #skipBtn:hover {
    background-color: #ac5858;
    transform: scale(1.1);

}

.timer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.tempo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    animation: flip 1s infinite alternate; /* Animação infinita alternada */
}

@keyframes flip {
    0% {
        transform: scaleX(1); /* Normal */
    }
    100% {
        transform: scaleY(-1); /* Invertido de cabeça para baixo */
    }
}

#timer {
    font-size: 16px;
    color: #000000;
    text-shadow: -1px -1px 0 #bf78db, 1px -1px 0 #bf78db, -1px 1px 0 #bf78db, 1px 1px 0 #bf78db;

}

#feedback {
    font-size: 18px;
    margin-top: 20px;
    color: #6b46c1;
}

#letters {
    font-size: 16px;
    color: #000000;
    text-shadow: -1px -1px 0 #bf78db, 1px -1px 0 #bf78db, -1px 1px 0 #bf78db, 1px 1px 0 #bf78db;

}
#finalScreen {
    background-color: #a5a5a5;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    width: 500px;
    margin: 0 auto;
    border: 4px solid #000000; 
    box-shadow: 4px 4px 0 #FFFFFF, 8px 8px 0 #000000; 
}

.letras, .final {
    font-size: 14px;
    color: #000000;
    margin-bottom: 10px; 
}

#finalLetters {
    font-size: 14px;
    color: #000000;
    margin-bottom: 5px;
    text-shadow: -1px -1px 0 #c23d3d, 1px -1px 0 #c23d3d, -1px 1px 0 #c23d3d, 1px 1px 0 #c23d3d;

}

.txtPalavra {
    padding: 12px 25px; 
    width: 220px;
    font-size: 10px;
    font-family: 'Press Start 2P', cursive;
    color: #000000;
    background-color: #bfbfbf;
    border: 4px solid #000000;
    border-radius: 25px;
    text-align: center;
    box-shadow: 3px 3px 0 #5c5c5c, -3px -3px 0 #FFFFFF;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 20px; 
}

.verificar {
    background-color: #58c254;
    color: white;
    padding: 12px 25px; 
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 20px; 
    font-family: 'Press Start 2P', cursive;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    border-color: #160916;
}

.verificar:hover {
    background-color: #5c36b5;
}

#finalFeedback {
    font-size: 14px;
    margin-top: 20px;
    color: #351188;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

