@font-face {
    font-family: 'Press Start 2P';
    src: url('../fonts/PressStart2P-Regular.ttf');
}

@keyframes pulse {
    0% {
        transform: scale(1);
        
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url('../imgs/background.png');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    color: #ecf0f1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

/* Ajustando a imagem de fundo dos inputs */
.form {
    margin-top: 250px;
    left: 515px;
    width: 350px;
    position: absolute;
    z-index: -1; /* Coloca a imagem atrás dos inputs */
}

/* Estilo do título */
.titulo {
    margin-top: -100px;
    left: 515px;
    width: 350px;
    position: absolute;
    z-index: 1; /* Garante que o título fique acima da imagem de fundo */
}

/* Estilo da legenda */
.sub {
    font-family: 'Press Start 2P';
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin-top: 5px;
    z-index: 2; /* Mantém acima da imagem de fundo */
    margin-left: 45px;
}

.realize {
    font-family: 'Press Start 2P';
    margin-top: 20px;
    z-index: 2; /* Mantém acima da imagem de fundo */
    animation: pulse 2.5s infinite; 
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; /* Contorno branco */
    color: #000000; /* Cor do texto preto */

}

/* Seção de login */
#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    z-index: 2; /* Mantém os elementos de login acima da imagem */
    position: relative;
    top:100px;
    margin-left: 30px;
}

/* Estilo dos inputs */
input[type="text"], input[type="password"] {
    display: block; /* Coloca os inputs em blocos, um embaixo do outro */
    width: 200px; /* Ajuste conforme necessário */
    padding: 15px 20px;
    background-color: #bfbfbf;
    color: #000000;
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    border-radius: 50px;
    border: 5px solid #000000;
    text-align: center;
    box-shadow: 4px 4px 0 #5c5c5c, -4px -4px 0 #FFFFFF;
    transition: background-color 0.3s, transform 0.3s;
    margin: 10px 0; /* Margem para separar os inputs */
}

input[type="text"]:hover, input[type="password"]:hover {
    transform: scale(1.1);
    background-color: #a0a0a0;
}


.user {
    font-family: 'Press Start 2P';
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin-top: -30px;
    z-index: 2; /* Mantém acima da imagem de fundo */
    font-size: 15px;
    color: #000000; /* Cor do texto preto */


}
.senha {
    font-family: 'Press Start 2P';
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin-top: -30px;
    z-index: 2; /* Mantém acima da imagem de fundo */
    font-size: 15px;
    text-align: center;
    color: #000000; /* Cor do texto preto */



}


button {
    padding: 10px 20px;
    background-color: #bfbfbf;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    transition: transform 0.3s, background-color 0.3s;
    z-index: 2; /* Mantém os botões acima da imagem de fundo */
    margin-top: 20px; /* Adiciona margem para ajuste */
    text-align: center; /* Garante centralização do conteúdo do botão */
    margin-left: 45px;
    margin-bottom: -25px;
    font-family: 'Press Start 2P';
}


button:hover {
    transform: scale(1.1);
    background-color: #803c3c;
}

/* Ocultando seções de jogo e tela final inicialmente */
#game, #finalScreen {
    display: none;
}

/* Estilos adicionais */
#timer, #feedback, #letters {
    margin-top: 20px;
}

.stars {
    top: 100px;
    left: 880px;
    width: 60px;
    animation: pulse 1.5s infinite; 

}

.stars2 {
    top: 50px;
    left: -170px;
    width: 60px;
    animation: pulse 1.5s infinite; 

}
.estrela {
    top: -135px;
    left: 685px;
    width: 45px;
    animation: pulse 1.5s infinite; 

}

.estrela2 {
    top: 50px;
    left: -25px;
    width: 60px;
    animation: pulse 1.5s infinite; 

}
